.main_content
	#recipe_top.row
		.col-md-4
			= image_tag @recipe.image.url(:medium), class: "recipe_image"
		.col-md-8
			#recipe_info
				%h1= @recipe.title
				%p.description= @recipe.description
				
	.row
		.col-md-6
			#ingredients
				%h2 Malzemeler
				%ul
					- @recipe.ingredients.each do |ingredient|
						%li= ingredient.name

		.col-md-6
			#directions
				%h2 Yapılışı
				%ul
					- @recipe.directions.each do |direction|
						%li= direction.step

	.row
		.col-md-12
			= link_to "Geri", root_path, class: "btn btn-default"
			= link_to "Düzenle", edit_recipe_path, class: "btn btn-default"
			= link_to "Sil", recipe_path, method: :delete, data: {confirm: "Emin misin?" }, class: "btn btn-default"